@import "tailwindcss";

/* Light Theme */
:root {
  --background: #f9fafb;
  --text: #111827;
  --primary: #1d4ed8;
  --primary-hover: #1e40af;
  --hover: #2563eb;
  --card-bg: #ffffff;
  --border: #cbd5e1;
  --lgs-bg: #e5e7eb;
  --sec-bg: #f3f4f6;
  --accent: #ea580c;
  --accent-hover: #c2410c;
}

/* Dark Theme */
[data-theme="dark"] {
  --background: #0a0f1e;
  --text: #f9fafb;
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --hover: #60a5fa;
  --card-bg: #1e293b;
  --border: #334155;
  --lgs-bg: #1e293b;
  --sec-bg: #121e36;
  --accent: #fb923c;
  --accent-hover: #f97316;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IRANSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --font-iransans: 'IRANSans', sans-serif;
    --default-transition-timing-function: ease-in-out;
    --default-transition-duration: 0.5s;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }

  .fade-out-transition {
    transition: all var(--default-transition-duration) var(--default-transition-timing-function);
  }
}

/**
 * @copyright
 * Code by Sobhan-SRZA (mr.sinre) | https://github.com/Sobhan-SRZA
 * Developed for Persian Caesar | https://github.com/Persian-Caesar | https://dsc.gg/persian-caesar
 *
 * If you encounter any issues or need assistance with this code,
 * please make sure to credit "Persian Caesar" in your documentation or communications.
 */