@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IRANSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  background-color: #111131;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --font-iransans: 'IRANSans', sans-serif;
    --default-transition-timing-function: easy-in-out;
    --default-transition-duration: 10.5s;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }

  .flex-cols-1 {
    flex: 0 1 calc(33.333% - 2rem);
  }

  .flex-cols-2 {
    flex: 0 1 calc(50% - 2rem);
  }

  .flex-cols-3 {
    flex: 0 1 calc(25% - 2rem);
  }

  .flex-cols-4 {
    flex: 0 1 100%;
  }
}