/* index.css: Global stylesheet for the application, defining themes, fonts, and utility classes. */

/* Import Tailwind CSS to leverage its utility classes for styling the application. */
@import "tailwindcss";

/* set dark mode in class */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root{
  --background: #e54c45;
}

/* Set smooth scrolling behavior for the entire HTML document. */
html {
  scroll-behavior: smooth;
}

/* Style the body element with a custom font stack, theme-based colors, and smooth transitions for theme changes. */
body {
  /* Use theme-defined background color */
  font-family: 'IRANSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--background);

  /* Use theme-defined text color */
  color: var(--text);

  /* Smooth transitions for theme switches */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Define the custom IRANSans font, loaded from a local TTF file for Persian text support. */
@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**
 * @copyright
 * Code by Sobhan-SRZA (mr.sinre) | https://github.com/Sobhan-SRZA
 * Developed for Persian Caesar | https://github.com/Persian-Caesar | https://dsc.gg/persian-caesar
 *
 * If you encounter any issues or need assistance with this code,
 * please make sure to credit "Persian Caesar" in your documentation or communications.
 */